<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexblue.nbms_backend.web.mapper.NbmsUserInfMapper">
    <select id="findById" resultType="NbmsUserInf">
        SELECT COMP_CD,USER_ID,USER_NM,PASS_ID,HQ_CD,ARM_CD,DEPT_CD,
            POSITION_CD,RANK_CD,EMP_ID,EMAIL,HP_NO,WORK_STS,USE_YN,
            AUTH_LV,CREATE_DATE,CREATE_USER,UPDATE_DATE,UPDATE_USER 
        FROM nbms_user_inf
        WHERE USER_ID = #{userId}
    </select>

    <select id="findAll" resultType="NbmsUserInf">
        SELECT COMP_CD,USER_ID,USER_NM,PASS_ID,HQ_CD,ARM_CD,DEPT_CD,
            POSITION_CD,RANK_CD,EMP_ID,EMAIL,HP_NO,WORK_STS,USE_YN,
            AUTH_LV,CREATE_DATE,CREATE_USER,UPDATE_DATE,UPDATE_USER 
        FROM nbms_user_inf
        ORDER BY COMP_CD, USER_ID
    </select>

</mapper>